.form {
  display: flex;
  flex-direction: column;
  gap: 1;
  background-color: var(--boulder-50);

  padding: 30px 25px;
  border-radius: 40px;
  margin: 40px 0;
}
h1 {
  color: red;
  font-weight: 100;
  letter-spacing: 0.01em;
  margin-left: 15px;
  margin-bottom: 35px;
  text-transform: uppercase;
}
input[type='text'] {
  appearance: none;
  background-color: var(--boulder-50);
  border: 1px solid red;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: red;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
  &:focus {
    background-color: var(--manhattan-300);
  }
}
.question {
  position: relative;
  padding: 10px 0;
  input[type='password'] {
    appearance: none;
    background-color: var(--boulder-50);
    border: 1px solid red;
    line-height: 0;
    font-size: 17px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    color: red;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    &:focus {
      outline: none;
      background: red;
      color: white;
      margin-top: 30px;
    }
    &:valid {
      margin-top: 30px;
    }
    &:focus ~ label {
      transform: translate(0, -35px);
    }
    &:valid ~ label {
      text-transform: uppercase;
      font-style: italic;
      transform: translate(0, -35px);
    }
  }

  button {
    margin-top: 35px;
    background-color: white;
    border: 1px solid red;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 60px;
    color: red;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    &:hover,
    &:focus {
      color: white;
      background-color: var(--manhattan-300);
    }
  }
  .label {
    transform-origin: left center;
    color: red;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 17px;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    position: absolute;
    margin-top: -40px;
    z-index: 2;
    pointer-events: none;
  }
}
